@use "../../sass/index.scss" as var;
nav {
	padding: 32px;
	max-height: 90vh;
	.mainContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 74px;
		background-color: var.$Semi-Dark-Blue;
		border-radius: 20px;
		width: fit-content;
		padding: 30px;
		&--link {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 25px;
				align-items: center;
				transition: 0.3s;
				height: 550px;
				max-height: 60vh;
				li:hover path {
					fill: var.$Red;
				}
				path.active {
					fill: white;
				}
				path {
					fill: var.$Greyish-Blue;
				}
			}
			img {
				border: 1px solid white;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}
	}
}
nav {
	padding: 23px 25px;
	.mainContainer--mobile {
		border-radius: 10px;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var.$Semi-Dark-Blue;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			gap: 25px;
			align-items: center;
			transition: 0.3s;

			li:hover path {
				fill: var.$Red;
			}
			path.active {
				fill: white;
			}
			path {
				fill: var.$Greyish-Blue;
			}
		}
		.avatar {
			border: 1px solid white;
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
	}
}
@include var.breakpoints("mobile") {
	nav {
		padding: 0;
		.mainContainer--mobile {
			border-radius: 0;
		}
	}
}
